@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
color: white;
background-color: black;
}
.container {
font-family: raleway;
max-width:400px;
max-height:800px;
margin: auto;
padding: 20px;
background-color: black;
}
header {
display: inline-block;
}
header h1 {
font-size: 70px;
text-align: center;
color: rgb(200, 196, 255);
}
header p {
font-size: 20px;
}
.img1 {
width: 300px;
padding-left: 40px;
}
.information {
font-weight: 20px;
}
video {
    width: 400px;
}

