@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
color: white;
background-color: black;
}
.container {
font-family: raleway;
max-width:500px;
max-height:1000px;
margin: auto;
padding: 20px;
background-color: black;
}
header {
display: inline-block;
}
header h1 {
font-size: 70px;
text-align: center;
color: rgb(255, 241, 180);
}
header p {
font-size: 20px;
}
.img1 {
width: 300px;
padding-left: 80px;
}
.information {
font-weight: 20px;
}
video {
    width: 500px;
}

